#contact {
    background: #0A1414;
    color: white;
}


#contact h2  {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: relative;
    margin: 30px 0 60px;
}

#contact h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background: white;
    left: 0;
    right: 0;
    bottom: -10px;
}