@media (min-width: 800px) {
    .top_image {
        background-image: url('../images/house.jpg');
        height: 300px;
    }
}

@media (max-width: 800px) {
    .top_image {
        background-image: url('../images/house_min.jpg');
        height: 200px;
    }
}

.top_image {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    background-attachment: fixed;
}